/* @media all and (max-width:800px){ */
	/* div#menudiv{width:80%;} */
/* } */
/* @media all and (max-width:800px){ */
	/* #one{width:30%;} */
	/* #two{width:40%;} */
	/* #three{width:30%;} */
/* } */












